// FONTS
$raleway: 'Raleway', sans-serif;
$oswald: 'Oswald', sans-serif;
$lato: 'Lato', sans-serif;

$primaryColor: mediumaquamarine;

html, body {
	margin: 0px;
	padding: 0px;
}

@import "partials/base";
@import "partials/images";
@import "partials/header";