// FONTS
$raleway: 'Raleway', sans-serif;
$oswald: 'Oswald', sans-serif;
$lato: 'Lato', sans-serif;

$primaryColor: mediumaquamarine;

@import "partials/base";
@import "partials/images";
@import "partials/header";