<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
<h1>Landing Page & Intro</h1>
	<%= heading %>

<section id="index-overview">
	<h2>The Character Building Tool, inspired by an 
Op Ed article by New York Times 
columnist David Brooks, can serve as a valued 
companion in your quest for a rich and 
"examined" life. It is designed to help you 
periodically reflect on your own character in 
terms of each virtue and guide you through 
this process with questions pertaining to your 
life. The app enables you record your answers 
to these questions at a time interval of your 
choosing (eg, on your birthday every year) 
and also gives you the option to enter general 
thoughts, including comparative assessments 
of your answers over time, in the "life goals" 
section. Our hope is that the Character 
Building Tool will help you stay focused on 
important and potentially life-changing goals. 
Have fun!</h2>
</section>

  <form id="sign-up-form" action="/users/create" method="post">
  	<h3>Sign Up or Sign In</h3>
    <input type="text" name="username" placeholder="username"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="text" name="first_name" placeholder="First Name"><br>
    <input type="text" name="last_name" placeholder="Last Name"><br>
    <input type="text" name="email" placeholder="email"><br>
    <input type="submit">
  </form>

</body>
</html>