<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="/styles/index.css"></link>
  <link href='https://fonts.googleapis.com/css?family=Oswald|Raleway' rel='stylesheet' type='text/css'>
</head>

<body>
  <section id="index-overview">
  	<article>The Character Building Tool, inspired by an 
  <a href="http://www.nytimes.com/2014/08/29/opinion/david-brooks-the-mental-virtues.html" target="_blank">Op-Ed article</a> by New York Times 
  columnist David Brooks, can serve as a valued 
  companion in your quest for a rich and 
  "examined" life. It is designed to help you 
  periodically reflect on your own character in 
  terms of each virtue and guide you through 
  this process with questions pertaining to your 
  life. The app enables you record your answers 
  to these questions at a time interval of your 
  choosing (eg, on your birthday every year) 
  and also gives you the option to enter general 
  thoughts, including comparative assessments 
  of your answers over time, in the "life goals" 
  section. Our hope is that the Character 
  Building Tool will help you stay focused on 
  important and potentially life-changing goals. 
  Have fun!</article>
  </section>
  <div class="form-container">
    <div class="form">
      <form id="sign-up-form" action="/users/create" method="post">
      	<h3>Sign Up</h3>
        <input type="text" name="username" placeholder="username"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input type="text" name="first_name" placeholder="first name"><br>
        <input type="text" name="last_name" placeholder="last name"><br>
        <input type="text" name="email" placeholder="email"><br><br>
        <input class="submit" type="submit" value="Sign Up">
      </form>
    </div>
    <div class="form">
      <form id="login-form" action="/users/login" method="post">
        <h3>Login</h3>
        <input type="text" name="username" placeholder="username"><br>
        <input type="password" name="password" placeholder="password"><br><br>
        <input class="submit" id="login-submit" type="submit" value="Login">
      </form>
    </div>
  </div>
</body>
</html>