<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CBT</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald|Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="app.css">
  <style>
    html { 
      background: url(http://images.summitpost.org/original/815923.JPG) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    header {
      text-align: center;
      margin: 0 auto;
      font-size: 40px;
      font-family: 'Oswald', sans-serif;
      letter-spacing: 5px;
    }

    div {
      font-family: 'Oswald', sans-serif;
      margin: 3% auto;
      text-align: center;
      width: 275px;
      border: 2px solid black;
      background-color: mediumaquamarine;
      color: black;
      letter-spacing: 2px;
    }

    a:visited, a:hover, a:active, a:link {
      text-decoration: none;
    }

  </style>
</head>
<body>
  <header>
    CHARACTER BUILDING TOOL
  </header>
  <a href="/index">
    <div>
      <h2>Start Your Journey</h2>
    </div>
</a>
</body>
</html>