<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Love of Learning</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
  
</head>
<body>
<h1>Love of Learning</h1>
<h2>Questions for <%= name %>:</h2>
<h3>Do you enjoy learning new things?</h3>
<textarea name="" id="question-1-textarea" cols="50" rows="10" placeholder="type your entry here"></textarea><br>
<button id="question-1-submit">Submit</button>






<script src="/javascript/learning.js"></script>
</body>
</html>