<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<a href="/cbt">Home</a>
  <h1>returning user? sign in below</h1>

  <form id="login-form" action="/users/login" method="post">
    <h3>Login</h3>
    <input type="text" name="username" placeholder="username"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="submit">
  </form>

</body>
</html>