<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald|Raleway|Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
<a href="/cbt">Home</a>
  <h1>Returning user? Sign in here.</h1>

  <form id="login-form" action="/users/login" method="post">
    <input type="text" name="username" placeholder="username"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="submit">
  </form>
	<img src="https://treegirlblog.files.wordpress.com/2014/06/thinking-man-stock_000005908297medium11.jpg">

</body>
</html>