<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Sign UP</title>
</head>
<body>
  <h1>create an account</h1>

  <form id="sign-up-form" action="/users/create" method="post">
    <h3>Sign Up</h3>
    <input type="text" name="username" placeholder="username"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="text" name="first_name" placeholder="First Name"><br>
    <input type="text" name="last_name" placeholder="Last Name"><br>
    <input type="text" name="email" placeholder="email"><br>
    <input id="index-submit" type="submit">
  </form>
  
</body>
</html>