// FONTS
$raleway: 'Raleway', sans-serif;
$oswald: 'Oswald', sans-serif;
$lato: 'Lato', sans-serif;

$primaryColor: mediumaquamarine;
$black: #262626;


h1 {
	font-family: $oswald;
  letter-spacing: 3px;
  font-size: 35px;
  margin-top: 6%;
}

#signup-button, #login-button {
	height: 2em;
	width: 10em;
	background-color: $primaryColor;
	font-family: $lato;
	font-size: 20px;
  border: none;
  margin: 0px 10px 0px 10px;
  opacity: .9;
}

#signup-button:hover, #login-button:hover {
  background-color: $black;
  color: $primaryColor;
}

#learning-submit-button {
  @extend #signup-button;
  margin-bottom: 50px;
  width: 15%;
  height: 50px;
  border-radius: 10px;
  margin-top: 50px;
}

.next-question {
  border: none;
  padding: 5px;
  padding-top: 10px;
  width: 125px;
  height: 25px;
  margin: 0 auto;
  font-size: 14px;
  font-family: $lato;
  color: white;
  background-color: $black;
  vertical-align: middle;
}

.phil-card {
  width: 275px;
  height: 240px;
  border: 1px solid $black;
  display: inline-block;
  margin: 1% 5px 1% 5px;
  a:visited, a:hover, a:active, a:link {
      text-decoration: none;
    }
}

.phil-card-content {
  padding-top: 10px;
  font-family: $lato;
  font-size: 20px;
}


#users-home-h3 {
  font-family: $lato;
  letter-spacing: 1.5px;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 1%;
  line-height: 30px;
}

#index-overview {
  margin: 0 auto;
  margin-top: 8%;
  width: 82%;
  font-family: $raleway;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 1.7;
  font-weight: 600;
}












