// FONTS
$raleway: 'Raleway', sans-serif;
$oswald: 'Oswald', sans-serif;
$lato: 'Lato', sans-serif;

$primaryColor: mediumaquamarine;



h1 {
	font-family: $oswald;
  letter-spacing: 3px;
  font-size: 35px;
  margin-top: 6%;
}

#signup-button, #login-button {
	height: 3em;
	width: 6em;
	background-color: $primaryColor;
	font-family: $lato;
	font-size: 18px;
}

#learning-submit-button {
  @extend #signup-button;
  margin-bottom: 50px;
  width: 15%;
  height: 50px;
  border-radius: 10px;
}

.next-question {
  border: 2px solid black;
  padding: 5px;
  width: 75px;
  margin: 0 auto;
  font-size: 16px;
  font-family: $lato;
}

.phil-card {
  width: 275px;
  height: 240px;
  border: 2px solid lightgray;
  border-radius: 5px;
  display: inline-block;
  margin: 1% 5px 1% 5px;
  box-shadow: 2px 2px grey;
  a:visited, a:hover, a:active, a:link {
      text-decoration: none;
    }
}

.phil-card-content {
  padding-top: 10px;
  font-family: $lato;
  font-size: 20px;
}


#users-home-h3 {
  font-family: $lato;
  letter-spacing: 1.5px;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 1%;
  line-height: 30px;
}

#index-overview {
  margin: 0 auto;
  margin-top: 8%;
  width: 82%;
  font-family: $raleway;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 1.7;
  font-weight: 600;
}












