// FONTS
$raleway: 'Raleway', sans-serif;
$oswald: 'Oswald', sans-serif;
$lato: 'Lato', sans-serif;

$primaryColor: mediumaquamarine;





header {
  position: absolute;
  width: 100%;
  top: 0px;  
  color: black;
  background-color: rgba(102,205,170, .4);
  height: 45px;
	ul {
		font-family: $lato;
		text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
		li {
  		float: left;
		}
		li a {
			height: 17px;
	    display: block;
	    color: black;
	    text-align: center;
	    padding-top: 13px;
	    padding-bottom: 15px;
	    padding-left: 16px;
	    padding-right: 16px;
	    text-decoration: none;
		}
		li a:hover {
	    background-color: rgba(102,205,170, .9);
		}
	}
	#form-li {
	  float: right;
	  display: block;
	  color: black;
	  text-align: center;
	  padding: 10px 16px;
	  text-decoration: none;
	}
	#dropdown {
  	font-size: 14px;
	}
}