// FONTS
$raleway: 'Raleway', sans-serif;
$oswald: 'Oswald', sans-serif;
$lato: 'Lato', sans-serif;

//colors
$primaryColor: mediumaquamarine;
$black: #262626;

/*LOGIN MODAL STYLING*/
#login-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
    #login-modal-content {
    position: relative;
    margin: 0 auto;
    background-color: white;
    top: 40%;
    width: 33%;
  }
    #login-modal-header {
    position: absolute;
    background-color: white;
    width: 100%;
  }
    .modal-body {
    position: absolute;
    width: 100%;
    top: 50px;
    background-color: white;
    border-top: 1px solid lightgray;
  }
  #login-form {
  width: 100%;
  margin-top: 3%;
}

  #modal-h3 {
    display: inline-block;
    font-family: $oswald;
    letter-spacing: 2px;
    font-size: 18px;
    margin-top: 13px;
  }

  #close-login-modal {
    float: right;
    font-size: 20px;
  }

  .modal-input {
    background-color: transparent;
    border: none;
    font-family : $lato;
    margin-bottom: 1em;
    border-bottom: 1px solid gray;
    font-size: 16px;
  }

  .modal-input:focus {
    outline: none;
    background-color: transparent;
  }

  input[type=submit] {
    font-family : $lato;
    font-size: 14px;
    color: white;
    width: 50%;
    height: 30px;
    border: none;
    background-color: #262626;
  }
  // styling for input boxes
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  }
}







