body {
  text-align: center;
}

header {
  width: 40%;
  border: 2px solid mediumaquamarine;
  margin: 0 auto;
  font-size: 25px;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

#index-overview {
  margin: 0 auto;
  width: 80%;
  font-family: 'Raleway', sans-serif;
}