.container {
	text-align: center;
}

h3 {
	font-family: 'Lato', sans-serif;
	letter-spacing: 1.5px;
	font-size: 20px;
	line-height: 25px;
}

.list-container {
	margin: 5% auto;
	width: 25%;
}

.list-group {

}